<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item-group>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

      <ion-item class="form-group">
        <ion-label position="floating">Old Password</ion-label>
        <ion-input type="password" formControlName="oldpassword"></ion-input>
      </ion-item>

      <ion-item class="form-group">
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <span class="sp" *ngIf="changePasswordForm.controls.password.hasError('pattern')">
        <ion-icon name="alert"></ion-icon>
        Password Must Be 8 Digit, 1 Special case ,Upper case and Lower case
      </span>

      <span class="sp" *ngIf="changePasswordForm.controls.password.hasError('whitespace')">
        <ion-icon name="alert"></ion-icon><br>
        Password contains white space
      </span>

      <ion-item class="form-group">
        <ion-label position="floating">Confirm</ion-label>
        <ion-input type="password" formControlName="confirmpassword"></ion-input>
      </ion-item>

      <span class="sp" *ngIf="changePasswordForm.controls.confirmpassword.errors?.MatchPassword">
        <ion-icon name="warning"></ion-icon>Please Confirm Your Password!
        Password does Not Match
      </span>

      <ion-button type="submit" float-right size="default" fill="clear">
        Change</ion-button>
    </form>
  </ion-item-group>
</ion-content>