<ion-header>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="myForm" (ngSubmit)="sendDetails()">
    <ion-item-group>

      <ion-item class="form-group">
        <ion-label position="floating">Full Name</ion-label>
        <ion-input type="text" class="form-control" formControlName="fullName"></ion-input>
      </ion-item>

      <span class="sp" *ngIf="myForm.controls.fullName.hasError('pattern')">
          <ion-icon name="alert"></ion-icon>
          Please Enter Alphabets Only
        </span>

      <ion-item class="form-group">
        <ion-label position="floating">city</ion-label>
        <ion-input type="text" class="form-control" formControlName="city"></ion-input>
      </ion-item>

      <span class="sp" *ngIf="myForm.controls.city.hasError('pattern')">
          <ion-icon name="alert"></ion-icon>
          Please Enter Alphabets Only
        </span>

      <ion-item class="form-group">
        <ion-label position="floating">State</ion-label>
        <ion-input type="text" class="form-control" formControlName="state" readonly></ion-input>
      </ion-item>

      <ion-item class="form-group">
        <ion-label position="floating">gender</ion-label>
        <ion-input type="text" class="form-control" formControlName="gender" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Type Of Tuition</ion-label>
        <ion-select [(ngModel)]="tuitionType" formControlName="tuitionType">
          <ion-select-option value="0">Both</ion-select-option>
          <ion-select-option value="1">Home Tuition</ion-select-option>
          <ion-select-option value="2">Coaching</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="form-group">
        <ion-label position="floating">phone</ion-label>
        <ion-input type="text" class="form-control" formControlName="phone" readonly></ion-input>
      </ion-item>

      <ion-item class="form-group">
        <ion-label position="floating">email</ion-label>
        <ion-input type="text" class="form-control" formControlName="email" readonly></ion-input>
      </ion-item>


      <ion-item class="form-group">
        Radius(km)<ion-range min="0" max="20" color="secondary" pin="true" formControlName="radius">
          <ion-label slot="start">0</ion-label>
          <ion-label slot="end">20</ion-label>
        </ion-range>
      </ion-item>

      <div>
        <ion-button expand="full" type="submit" ion-button fill="clear" block>Submit</ion-button>
      </div>

    </ion-item-group>
  </form>
  <div>
    <ion-button expand="full" (click)="back()" fill="clear">Dismiss</ion-button>
  </div>

</ion-content>