
ion-toolbar{
    --ion-background-color:#840000 !important;
    color:#ffffff;
    
}
form ion-button{
    background-color:#ffffff !important;
    border:1px solid #840000;
    color:#840000 !important;
    margin-top:20px;
}
ion-item-group div{
    background-color:#ffffff;
}
 ion-button ion-icon{
    color:#840000;
}
ion-item ion-label{
    color:#840000;
}
ion-item ion-input{
    font-size:13px; 
}
ion-button{
    border:1px solid #840000;
    background-color:#ffffff;
    color:#840000;
}