<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Password Reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item-group>
    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">

      <div *ngIf="show">
        <ion-item class="form-group">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" formControlName="email" placeholder="Enter email here"></ion-input>
        </ion-item>
        <ion-button size="default" float-right color="primary" (click)="confirmEmail()">
          Send code</ion-button>
      </div>

      <div *ngIf="show2">
        <ion-item class="form-group">
          <ion-label position="floating">Verification Code</ion-label>
          <ion-input type="text" formControlName="code" maxlength="6" placeholder="Enter code here"></ion-input>
        </ion-item>
        <ion-button size="default" float-right color="primary" (click)="sendCode()">
          Verify code</ion-button>
      </div>

      <div *ngIf="show == show2">
        <ion-item class="form-group">
          <ion-label position="floating">New Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <span class="sp" *ngIf="resetForm.controls.password.hasError('pattern')">
          <ion-icon name="alert"></ion-icon>
          Password Must Be 8 Digit, 1 Special case ,Upper case and Lower case
        </span>

        <span class="sp" *ngIf="resetForm.controls.password.hasError('whitespace')">
          <ion-icon name="alert"></ion-icon><br>
          Password contains white space
        </span>

        <ion-item class="form-group">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" formControlName="confirmpassword"></ion-input>
        </ion-item>

        <span class="sp" *ngIf="resetForm.controls.confirmpassword.errors?.MatchPassword">
          <ion-icon name="warning"></ion-icon>Please Confirm Your Password!
          Password does Not Match
        </span>

        <ion-button size="default" float-right color="primary" (click)="resetPassword()" [disabled]="!resetForm.valid">
          Reset</ion-button>
      </div>

    </form>
  </ion-item-group>
</ion-content>